@font-face {
    font-family: "BrandFont";
    src: url("/font/brand.ttf");
}
.navbar .site-name, .home .hero h1, .home-blog .hero h1 {
    font-family: BrandFont, sans-serif;
    font-style: normal!important;
    font-weight: normal!important;
}
.abstract-item .title a{
    color: $accentColor!important;
}
.home-blog .home-blog-wrapper .info-wrapper .category-wrapper .category-item a{
    color: $accentColor!important;
}